<%- contentFor('body') %> 
<div class="container-fluid">
  <form action="cliente-post" method="POST">
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="nome">Endereço</label>
        <input type="text" class="form-control" id="endereco" name="endereco" placeholder="Endereço">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="nascimento">Data Nascimento</label>        
        <input class="form-control" type="date" value="2020-05-26" id="nascimento" name="nascimento">        
      </div>
      <div class="form-group col-md-6">
        <label for="sexo">Sexo</label>
        <select class="form-control" id="sexo" name="sexo">
          <option>Masculino</option>
          <option>Feminino</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="custo">RG</label>
        <input type="text" class="form-control" id="rg" name="rg">
      </div>
      <div class="form-group col-md-4">
        <label for="lucro">CPF</label>
        <input type="text" class="form-control" id="cpf" name="cpf">
      </div>
      <div class="form-group col-md-4">
        <label for="venda">Telefone</label>
        <input type="text" class="form-control" id="telefone" name="telefone">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="nome">E-mail</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="E-mail">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>
</br>
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">Telefone</th>        
      </tr>
    </thead>
    <tbody>
      <% for(var i = 0; i < cliente.length; i++){ %>
      <tr>        
        <th scope="row"><%=cliente[i].nome%></th>
        <td><%=cliente[i].cpf%></td>
        <td><%=cliente[i].telefone%></td>        
      </tr>
      <% } %>     
    </tbody>
  </table>
</div>